[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-migrate = "*"
psycopg2-binary = "*"
flask-swagger-ui = "*"

[requires]
python_version = "3.8"
